@import "tailwindcss";

.custom-map-icon {
  background: transparent !important;
  border: none !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 10px; 
  border: 2px solid #f1f1f1; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
}

.vehicle-icon svg {
  animation: pulseGlow 1.5s infinite;
}
@keyframes pulseGlow {
  0%,100% { filter: drop-shadow(0 0 6px rgba(37,99,235,0.8)); }
  50% { filter: drop-shadow(0 0 12px rgba(37,99,235,1)); }
}

.custom-map-icon img {
  transition: transform 0.2s;
}

.custom-map-icon img:hover {
  transform: scale(1.2);
}

 @keyframes floatY {
            0%, 100% { transform: translateY(0px); }
            50% { transform: translateY(-4px); }
          }